body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 7% 15%;
}

/* Headings */
.section-heading{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
}

.big-heading{
    font-weight: 900;
    font-size: 3.5rem;
}

/* Sections */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

/* Navbar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: 400;
}


/* Download Button */
.download-button{
    margin: 5% 3% 5% 0;
}


/* Title Section */
#title{
    
    text-align: left;
}

.title-img{
    position: absolute;
    width: 60%;
    transform: rotate(25deg);
    right: 30%;
}

#title .container-fluid{
    padding: 3% 15% 7%;
}


/* Features */
#features{

    position: relative;
    z-index: 1;
  }

.feature-box{
    padding: 5%;
}

.features-img{
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-img:hover{
    color: #ff4368;
}

.features-text{
    font-weight: 600;
    font-size: 1.5rem;
}

/* Testimonial Section */
#testimonials{
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}




/* Press Section */
#press{
    padding: 3%;
    background-color: #ef8172;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */
#pricing{
    padding: 100px;
}

.card-column {
    padding: 3% 2%;
}

.pricing-text{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
}

.plan-name{
    font-weight: 600;
    font-size: 1.5rem;
}


/* Call to Action */


/* Footer Section */

.footer-icon{
    margin: 20px 7px 6px;
}


@media (max-width: 1028px) {
    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0);
    }
}


